@media (min-width: 850px){
    header {
        background-color: aliceblue;
        position: fixed;
        width: 100%;
    
        .container {
          flex-direction: row;
          justify-content: space-between;
        }
    
        nav {
          flex-direction: row;
          padding-bottom: 0;
          padding-right: 20px;
          
        }
    }   
    

    

    @media (min-width: 1200px) {
        #caracteristicas{
            background-position-x: calc(100vw - 800px);
        }
    }
}    